name: Reusable Repo Metadata Puller
run-name: Pulling Repo Metadata
on: 
  workflow_call:
    inputs: 
      repos_list_path:
        required: true
        type: string
  # schedule:
  #   - cron: "38 1 * * *"
jobs:
  Repo-Metadata-Pull:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: List files in the repository
        run: ls ${{ github.workspace }}
      - name: Run Docker image
        uses: ./
        with:
          file_path: ${{ inputs.repos_list_path }}
          token: ${{ secrets.GITHUB_TOKEN }}
          do_key_id: ${{ secrets.do_key_id }}
          do_key_secret: ${{ secrets.do_key_secret }}
      - name: Commit and Pushing Updates
        # uses: actions4git/add-commit-push@v1
        run: |
          git config --global user.name 'Kua Simi Kua'
          git config --global user.email 'kua_simi_kua@proton.me'
          git pull
          git add ./repos_info/auth_metadata/
          git commit -m "Added metadata for today for ${{ inputs.repos_list_path }}"
          git push
