name: Stats and Alerts Job
run-name: Stats and Alerts
on: workflow_dispatch
  # schedule:
  #   - cron: "8 8 * * *"
  secrets:
    do_key_id: 
      required: true
    do_key_secret: 
      required: true
jobs:
  Stats:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: List files in the repository
        run: ls ${{ github.workspace }}
      - name: Run Docker image
        uses: ./docker/stats/
        with:
          do_key_id: ${{ secrets.DO_KEY_ID }}
          do_key_secret: ${{ secrets.DO_KEY_SECRET }}
      - name: Commit and Pushing Updates
        # uses: actions4git/add-commit-push@v1
        run: |
          git config --global user.name 'Kua Simi Kua'
          git config --global user.email 'kua_simi_kua@proton.me'
          git pull
          git add ./repos_info/
          git commit -m "Added stats and stats_stats for today"
          git push
  Alerts:
    runs-on: ubuntu-latest
    needs: Stats
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: List files in the repository
        run: ls ${{ github.workspace }}
      - name: Run Docker image
        uses: ./docker/alerts/
        with:
          do_key_id: ${{ secrets.DO_KEY_ID }}
          do_key_secret: ${{ secrets.DO_KEY_SECRET }}
      - name: Commit and Pushing Updates
        # uses: actions4git/add-commit-push@v1
        run: |
          git config --global user.name 'Kua Simi Kua'
          git config --global user.email 'kua_simi_kua@proton.me'
          git pull
          git add ./repos_info/
          git commit -m "Added alerts for today"
          git push
